
<div id="main_container">
	
<div class="top_bar">
    	
<div class="top_search">
        	
<div class="search_text">
<a href="#">Advanced Search</a>
</div>
        <form action="/Search.cshtml" method="post">
   <input type="text" class="search_input" name="searchTerm" />
           
 <input type="image" src="/Shared/Images/search.gif" class="search_bt"/>
       </form>
 </div>
        
      

  <div class="languages">
        	

<div class="lang_text">Languages:</div>
           
 <a href="#" class="lang"><img src="/Shared/Images/en.gif" alt="NO" title=""  /></a>
           
 <a href="#" class="lang"><img src="/Shared/Images/de.gif" alt="NO" title=""  /></a>       
       
 </div>
 
   
   
 </div>





<div id="header">
        
       
 <div id="logo">
            
<a href="~/default"><img src="/Shared/Images/logo.png" alt="NO" title=""  width="237" height="140" /></a>
	    
</div>
        
        
<div class="oferte_content">
        	
<div class="top_divider"><img src="/Shared/Images/header_divider.png" alt="NO" title="" width="1" height="164" /></div>
        	
<div class="oferta">
            
           		
<div class="oferta_content">
                	
<img src="/Shared/Images/laptop.png" width="94" height="92" alt="NO" class="oferta_img" />
                	
                   
 
<div class="oferta_details">
                            
<div class="oferta_title">Samsung GX 2004 LM</div>
                           

 <div class="oferta_text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  Ut enim ad minim veniam, quis nostrud exercitation ullamco
  </div>
                           
 <a href="~/details/25" class="details">details</a>
                    
</div>
               
 </div>
               
 <div class="oferta_pagination">
                
                    
 <span class="current">1</span>
                    
 <a href="#?page=2">2</a>
                     
<a href="#?page=3">3</a>
                    
<a href="#?page=3">4</a>
                   
  <a href="#?page=3">5</a>  
                             
               
 </div>        

           
 </div>
            
<div class="top_divider"><img src="/Shared/Images/header_divider.png" alt="NO" title="" width="1" height="164" /></div>
        	
       
 </div> 
    <!-- end of oferte_content-->
        

   
 </div>
    <!-- end of Header -->   
   
   <div id="main_content"> 
   
           
 <div id="menu_tab">
            
<div class="left_menu_corner">
</div>
                   
 <ul class="menu">
                         
<li><a href="~/default" class="nav1">  Home </a></li>
                        
 <li class="divider"></li>
                         
<li><a href="#" class="nav2">Products</a></li>
                         
<li class="divider"></li>
                        
 <li><a href="#" class="nav3">Specials</a></li>
                       
  <li class="divider"></li>
                        
 <li><a href="#" class="nav4">My account</a></li>
                       
  <li class="divider"></li>
                        
 <li><a href="#" class="nav4">Sign Up</a></li>
                         
<li class="divider"></li>                         
                         
<li><a href="#" class="nav5">Shipping </a></li>
                        
 <li class="divider"></li>
                         
<li><a href="contact.html" class="nav6">Contact Us</a></li>
                         
<li class="divider"></li>
                         
<li class="currencies">Currencies
                         <select>
                         <option>US Dollar</option>
                         <option>Euro</option>
                         </select>
                         </li>
                    
</ul>

           

           
 </div>
 <!-- end of menu tab -->
            
    
       

<div class="crumb_navigation">
    Navigation: <span class="current">Home</span>
    
    </div>        
    
    
   @CategoriesHelpers.category()
   </div>
  


</div>
<!-- end of main content -->
   