@{

} 
<div class="right_content">
   		
<a href="/ShopingCart"><div class="shopping_cart">
        	
@CartDetails.cartInfo();
            
            
<div class="cart_icon"><a href="#" title="header=[Checkout] body=[&nbsp;] fade=[on]"><img src="/Shared/Images/shoppingcart.png" alt="NO" title="" width="48" height="48"  /></a></div>
        
        </div></a>
   
   
     
<div class="title_box">What’s new</div>  
     <div class="border_box">
         <div class="product_title"><a href="~/details/25">Motorola 156 MX-VL</a></div>
         <div class="product_img"><a href="~/details/25"><img src="/Shared/Images/p2.gif" alt="NO" title=""  /></a></div>
         <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
     </div>  
     
     
     
   
 <div class="title_box">Manufacturers</div>
    
        
<ul class="left_menu">
       
 <li class="odd"><a href="services.html">Sony</a></li>
       
 <li class="even"><a href="services.html">Samsung</a></li>
         
<li class="odd"><a href="services.html">Daewoo</a></li>
        
<li class="even"><a href="services.html">LG</a></li>
         
<li class="odd"><a href="services.html">Fujitsu Siemens</a></li>
         
<li class="even"><a href="services.html">Motorola</a></li>
       
 <li class="odd"><a href="services.html">Phillips</a></li>
       
 <li class="even"><a href="services.html">Beko</a></li>
        </ul>      
     
    
 <div class="banner_adds">
     
     <a href="#"><img src="/Shared/Images/bann1.jpg" alt="NO" title=""  /></a>
     </div>        
     
   </div>
<!-- end of right content -->   
   